<configuration>
	<system.serviceModel>
		<!-- ici j'ai ajouter le diagnostics  -->
		<diagnostics performanceCounters="All" />
		
		<bindings>
			<webHttpBinding>
				<binding name="WebHttpBinding_IUserService" />
			</webHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost/Host/UserService.svc/rest"
					  binding="webHttpBinding"
					  contract=" LoggerConsoleApp.UserServiceReference.IUserService"
					  bindingConfiguration="WebHttpBinding_IUserService"
					  behaviorConfiguration="webBehavior"
					  name="WebHttpBinding_IUserService" />
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	
		<connectionStrings>
			<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SolutionTest;Integrated Security=True;" />
		</connectionStrings>
	
	
</configuration>
